name: Generate Snake Animation

on:
  schedule:
    # Roda automaticamente todos os dias à meia-noite
    - cron: "0 0 * * *" 
  workflow_dispatch: # Permite rodar manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      # Gera o jogo da cobrinha a partir do seu histórico
      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: itorresxp
          outputs: |
            dist/github-snake.svg?color_snake=#7AA2F7&color_dots=#1A1B26,#30363D,#3D59A1,#58A6FF,#9ECE6A
            
      # Salva a imagem gerada em uma branch chamada "output"
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
